
body {
    padding-top: 56px;
}

.bg-azul {
    background-color: #00a7d0 !important;
}
.bg-espera {
    background-color: #db8b0b !important;
}
.bg-peligro {
    background-color: #d33724 !important;
}
.bg-exito {
    background-color: #00a65a !important;
}
.bg-informacion {
    background-color: #0097bc !important;
}
.bg-fondo {
    background-color: #f3f3f3 !important;
}

.btn-close {
    background: #f3f3f3 !important;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.new-further > p {
    color: #000;
    font-weight: 700;
    margin: 0 0 10px !important;
    float: left;
}
